body{
    margin: 0;
    font-family: "Lato", sans-serif;
    color: aliceblue;
    background: #202731;
    overflow-x: hidden;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 200px 20vw;
} 

.layer-svg{
    width: 100%;
}


/* Navbar Homepage */

.branding{
    margin-left: 100px;
    display: flex;
}

.navbar-brand{
    
    font-weight: 700;
}


.nav-link{
    margin-left: 20px;
    color: white;
}

.nav-link:hover{
    color: rgb(126, 126, 126);
}

.navbar{
    padding-top: 1.1rem;
    padding: 1rem;
}

.navbar-nav{
    margin-left: 30rem;
}

.navbar-collapse{
    text-align: left;
}


 /* Home section  */




.home-container{
     
     background: #202731;
}



 /* Client Project Section */
 .cps-container{
    background: #12104b;
    
 }




 /* Personal Project Section  */
.pps-container{
   background: #0f1930;
}


 /* Skills Sections */
.skills-container{
    background: #4b556b;
}

 



  /* About Me  Section */
.about-me-container{
    background: #2d313d;
}


  /* Contact/Footer Section */


