body{
    margin: 0;
    font-family: "Lato", sans-serif;
    color: aliceblue;
    background: #202731;
    overflow-x: hidden;
}

.layer-svg{
    width: 100%;
}


/* Navbar Homepage */
nav{
    background: #202731;
    height: 70px;
    width: 100%;
}

.logo{
    margin-top: 1rem;
    margin-left: 15rem;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none!important;
}


a:hover{
    color: #7e8391;
}

@media screen and (max-width: 984px) {
    
}



 /* Home section  */
.home-container{
     display: flex;
     align-items: center;
     justify-content: center;
     background: #202731;
     padding-top: 3rem;
     padding-bottom: 3rem;
}

.header{
    margin-right: 5rem;
}

.heading-h1{
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.heading-p{
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.marquise-pic{
    width: 250px;
    height: 250px;
    
}

@media screen and (max-width: 984px){
    .logo{
        margin-top: 1rem;
        margin-left: 5rem;
    }
}


 /* Client Project Section */
 .cps-container{
    background: #12104b;
    padding-top: 3rem;
    padding-bottom: 7rem;
 }

 .cps-header{
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    
 }

 .project-header{
    font-size: 40px;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
 }

 .bef-aft-p{
    text-align: center;
    margin-right: 40rem;
    font-size: 20px;
 }

 .pic-summary-together{
    display: flex;
 }

 .summary-section{
    margin-left: 12rem;
    margin-right: 3rem;
 }

 .summary-paragraph{
    margin-top: 1rem;
    margin-bottom: 4rem;
    line-height: 2;
 }

 .church-photo{
    width: 500px;
    height: 250px;
    margin-left: 8rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }

 .before-pic{
    position: relative;
 }

 .after-pic{
    position: absolute;
    transform: translate(-115%, 90%);
 }

 @media screen and (max-width: 984px){

    .bef-aft-p{
        text-align: center;
        margin-right: 1rem;
        font-size: 20px;
     }
    
    .church-photo{
        width: 500px;
        height: 250px;
        margin-left: 10rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }
    
    .pic-summary-together{
        display: inline-block;
    }

        .summary-section{
            margin-top: 20rem;
            margin-left: 10rem;
            margin-right: 10rem;
         }
 }



 /* Personal Project Section  */
.pps-container{
   background: #0f1930;
   padding-top: 1rem;
   padding-bottom: 7rem;
}

.ps-header{
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 5rem;
}

.card{
    background: rgb(50, 51, 70);
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}

.card-title{
    color: white;
    text-align: center;
}

.card-styling-one{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.card-styling-two{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.pj-pic{
    height: 175px;
}

.lan-used{
    color: rgb(124, 197, 106);
    font-size: 20px;
}

.web-link{
    margin-top: 8px;
}

 /* Skills Sections */
.skills-container{
    background: #4b556b;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.skills-header{
    text-align: center;
    font-weight: 700;
    font-size: 60px;
}

.logo-description{
    font-size: 20px;
    margin-left: 16rem;
}

.skills-logo{
    justify-content: center;
    align-items: center;
    margin-left: 12rem;
}

.front-end-logo, .back-end-logo, .other-tools-logo{
    width: 7%;
    border-radius: 10px; 
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 984px){

    .logo-description{
        font-size: 20px;
        margin-left: 10rem;
    }

    .skills-logo{
        justify-content: center;
        align-items: center;
        margin-left: 7rem;
    }

    .front-end-logo, .back-end-logo, .other-tools-logo{
        width: 7%;
        border-radius: 10px; 
        margin-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

}


  /* About Me  Section */
.about-me-container{
    background: #2d313d;
    padding-bottom: 1rem;
}

.about-me-header, .about-header-two{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 2rem;
}

.about-me-paragraph, .widc-paragraph{
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
}

.center-wdic{
    margin-left: 1rem;
}

.pictures-one, .pictures-two{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-pics-one, .about-pics-two{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.widc-paragraph{
    margin-top: 2rem;
}

  /* Contact/Footer Section */
  .contact-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5rem;
  }

  .contact-me-header{
    font-weight: 700;
    font-size: 60px;
  }

a.ref:link, a.ref:visited{
   background-color: rgb(13, 27, 75);
   color: bisque;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   border-radius: 25px;
}

a.ref:hover, a.ref:active{
    background-color: rgb(95, 109, 132);
}

